body {
  margin: 20px;
  background-color: #eee;
}

.do {
  list-style-type: none;

  &.checked {
    text-decoration: line-through;
  }

  .tools {
    display: none;
  }

  .timer {
    display: none;
    background-color: aqua;
    color: white;
    padding: 2px 6px;
    border-radius: 2px;
  }

  &.started .timer {
    display: inline;
  }

  .bind {
    display: inline;
  }

  &:hover .tools {
    display: inline;
  }
}