body {
  margin: 20px;
  background-color: #eee;
}

.do {
  list-style-type: none;

  &.checked {
    text-decoration: line-through;
  }

  .tools {
    display: none;
  }
}

.do:hover .tools {
  display: inline;
}
