body {
  margin: 20px;
  background-color: #eee; }

.do {
  list-style-type: none; }
  .do.checked {
    text-decoration: line-through; }
  .do .tools {
    display: none; }

.do:hover .tools {
  display: inline; }
