body {
  margin: 20px;
  background-color: #eee; }

.do {
  list-style-type: none; }
  .do.checked {
    text-decoration: line-through; }
  .do .tools {
    display: none; }
  .do .timer {
    display: none;
    background-color: aqua;
    color: white;
    padding: 2px 6px;
    border-radius: 2px; }
  .do .sessions {
    background-image: url(check.png);
    display: inline-block;
    height: 16px; }
  .do.started .timer {
    display: inline; }
  .do .bind {
    display: inline; }
  .do:hover .tools {
    display: inline; }
