!!!
%html
  %head
    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular-resource.min.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"}
    %link{:href => "https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css", :rel => "stylesheet"}

    %link{:href => "dostack.css", :rel =>"stylesheet"}
    %script{:src => "dostack.js"}

  %body{"ng-app" => "doStackApp", "ng-controller" => "AppCtrl"}
    %h1 Dostack
    %form.form-inline
      %input{:type => "text", "ng-model" => "newItem.text"}
      %button.btn.btn-primary{"ng-click" => "add(newItem)", "ng-disabled" => "!newItem.text"} Add
    %ul
      %li.do{"ng-repeat" => "item in items", :class => "{{item.done|then:'checked'}} {{item.started|then:'started'}}"}
        %label{:class => "checkbox"}
          %input{:type => "checkbox", "ng-model" => "item.done"}
          {{item.text}}
          .sessions{:style => "width: {{item.sessions*16}}px"}
          .timer {{item|timer}}
          .tools
            %a{"ng-click" => "remove($index)"} 
              %i{:class => "icon-trash"}
            %a{"ng-click" => "start($index)"} 
              %i{:class => "icon-time"}
